
#main-content {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}
